.noteplayer-container {
  position: relative;
}

.noteplayer {
  display: block;
  max-height: 80vh;
  border-radius: 1rem;
}

.noteplayer__play-button {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in 0.25s;
  opacity: 1;
  transition: opacity 0.3s ease;

  img {
    width: 32px;
    height: 32px;
    margin-left: 4px;
  }
}

.noteplayer__play-button:hover {
  background-color: rgba(0, 0, 0, 1);
  transition: ease-in 0.25s;
}

.noteplayer__play-button--hidden {
  opacity: 0;
  pointer-events: none;
}

.noteplayer__progress-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.noteplayer__progress-area {
  position: relative;
  width: calc(100% - 2rem);
  margin: 0 auto;
  height: 32px;
}

.noteplayer__progress-base {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  height: 4px;
  border-radius: 3px;
}

.noteplayer__progress-bg {
  background-color: #333;
  width: 100%;
}

.noteplayer__progress-hovered {
  background-color: #fff;
  opacity: 0.4;
  width: 75%;
}

.noteplayer__progress-elapsed {
  background-color: #fff;
  width: 110px;
}

.noteplayer__timestamp {
  position: absolute;
  top: -20px;
  background-color: #000000bb;
  padding: 0.325rem;
  color: #fff;
  text-align: center;
  border-radius: 0.25rem;
  font-size: 9px;
  font-weight: 700;
  white-space: nowrap;
  display: block;
}

.noteplayer__timestamp--hide {
  display: none;
}
